/* Configuración básica de la página */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  color: #fff;
}

/* Estilo del título */
h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Estilo del botón de jugar */
.play-button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

.play-button:hover {
  background-color: #777;
}

/* Configuración de la cuadrícula */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(5, 60px);
  gap: 10px;
  justify-content: center;
}
.grilla{
  display: grid;
.cell {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  color: #777;
  font-size: 1.5em;
  border: 2px color:#555
  border-radius: 5px;
  cursor: pointer;
}

/* No mostrar algunas ubicaciones, pero que igual se mantengan los lugares
#cell-7, cell-9, cell-13, cell-17, cell-19 {
  visibility: hidden;
}

/* Cambia el color de fondo al hacer clic */
.cell:hover {
  background-color: #666;
}
